@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';

.debug {
    .content {
        display: flex;
        flex-direction: column;
    }

    label {
        cursor: pointer;
    }

    .icon {
        cursor: pointer;
        svg {
            fill: var(--primary);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                fill: #{map-deep-get($colors, 'colors', 'primary', 75)};
            }

            width: 1rem;
            height: 1rem;
        }
    }
}
