@use '../../utils/map-deep-get.scss' as *;
@use '../../design-tokens/colors.scss' as *;
@use '../../design-tokens/media.scss' as *;

.debug {
    .content {
        display: flex;
        flex-direction: column;
    }

    label {
        cursor: pointer;
    }

    .icon {
        cursor: pointer;
        svg {
            fill: var(--primary);
            width: 1rem;
            height: 1rem;
        }
    }
}
