@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.summary {
    margin: 2.5rem 0;
    border-bottom: 1px solid var(--dividers);
    h3 {
        color: var(--content-copy);
        margin-bottom: 1rem;
        position: relative;
        background: linear-gradient(var(--dividers), var(--dividers)) 0 0/100%
                1px no-repeat,
            linear-gradient(var(--dividers), var(--dividers)) 0 4px/100% 1px
                no-repeat,
            linear-gradient(var(--dividers), var(--dividers)) 0 8px/100% 1px
                no-repeat;
        padding: 22px 0 15px 0;
        border-bottom: 1px solid var(--dividers);
        margin-top: initial;
    }

    ul {
        list-style: none;
        list-style-position: outside;
        padding-left: 1rem;
    }

    li {
        margin: 1rem 0;
    }

    li:before {
        content: '\2022';
        color: var(--primary);
        font-weight: bold;
        display: inline-block;
        font-size: 2rem;
        line-height: 0;
        width: 1rem;
        margin-left: -1rem;
        position: relative;
        top: 2px;
    }

    &[data-variant='variant-1'] {
        li:before {
            color: var(--link-longread);
        }
    }
    &[data-variant='variant-2'] {
        li:before {
            color: var(--link-persoonlijk);
        }
    }
}
