@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.fdArticleTags {
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);
    color: var(--primary);
    background-color: var(--card-2);
    h3 {
        font-size: 1.125rem;
        line-height: 1.222;
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
        padding: 0.5rem 1rem;
        margin: 0;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 1.1875rem;
            line-height: 1.316;
        }
        @media screen and (min-width: map-deep-get($media, 'sizes', 'l')) {
            font-size: 1.3125rem;
            line-height: 1.333;
        }
    }

    h3 a {
        color: inherit;
        text-decoration: inherit;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        display: inline-block;
        width: 100%;
        border-top: 1px solid var(--dividers);
        > div {
            margin: 0.5rem 1rem;
            display: flex;
            position: relative;
            height: 30px;
        }
    }
    .tagContainer a {
        flex-grow: 1;
        position: relative;
        top: 5px;
        color: var(--content-copy);
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: none;
        font-family: map-deep-get($typography, 'font-family', 'regular'),
            sans-serif;
        &:hover {
            color: var(--primary);
        }
    }
    .tagControls {
        display: flex;
        justify-content: flex-end;
        flex: 0 0 140px;
        .alert {
            margin-right: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .defaultIcon,
    .activeIcon {
        display: none;
        cursor: pointer;
        svg {
            width: 1rem;
            height: 1rem;
            fill: var(--meta-copy);
        }
    }
    .tagContainer.selected {
        .defaultIcon {
            display: inline;
        }
    }
    .alert.selected {
        .defaultIcon {
            display: none;
        }
        .activeIcon {
            display: inline;
        }
    }
}
