@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/typography.scss';

.fdCheckbox {
    input {
        opacity: 0;
        position: absolute;
    }
    .checkbox {
        user-select: none;
        position: relative;
        display: inline-block;
        padding-left: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }

        font-size: 1rem;
        font-family: map-deep-get($typography, 'font-family', 'regular'),
            sans-serif;
        white-space: normal;
        &:before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            left: 0;
            top: 0.25rem;
            width: 1rem;
            height: 1rem;
            border: 1.5px solid var(--checkbox-border);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                border: 1.5px solid #{map-deep-get(
                        $colors,
                        'colors',
                        'secondary',
                        75
                    )};
            }

            transition: border-color 0.3s;
            background-color: var(--checkbox-fill);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        100
                    )};
            }
        }
        &:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 9px;
            width: 8px;
            height: 3px;
            border-left: 1.5px solid var(--checkbox-check);
            border-bottom: 1.5px solid var(--checkbox-check);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                border-left: 1.5px solid #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        100
                    )};
                border-bottom: 1.5px solid #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        100
                    )};
            }
            opacity: 0;
            transition: all 0.3s;
            transform: rotate(-48deg);
        }
    }

    input:hover,
    input:focus {
        ~ .checkbox {
            &:before {
                background-color: var(--checkbox-hover);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    background-color: #{map-deep-get(
                            $colors,
                            'colors',
                            'primary',
                            25
                        )};
                }
            }

            color: var(--checkbox-label-hover);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'primary', 75)};
            }
        }
    }

    input:checked ~ .checkbox {
        &:before {
            background-color: var(--checkbox-fill-checked);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'primary',
                        75
                    )};
            }
        }
        &:after {
            opacity: 1;
        }
    }
}
