@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/typography.scss';

.fdRadio {
    line-height: 1.5;
    color: var(--content-copy);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    }

    input {
        opacity: 0;
        position: absolute;
    }
    .radio {
        user-select: none;
        position: relative;
        z-index: 1;
        display: inline-block;
        padding-left: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }

        font-size: 1rem;
        line-height: 1.5;
        font-family: map-deep-get($typography, 'font-family', 'regular'),
            sans-serif;
        &:before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            left: 0;
            top: 2px;
            width: 20px;
            height: 20px;
            border: 1px solid var(--radio-border);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                border: 1px solid #{map-deep-get(
                        $colors,
                        'colors',
                        'primary',
                        75
                    )};
            }

            transition: border-color 0.3s;
            background-color: var(--radio-fill);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        100
                    )};
            }
            border-radius: 50%;
        }
        &:after {
            content: '';
            position: absolute;
            opacity: 0;
            transition: all 0.3s;
            transform: rotate(-45deg);
            border-radius: 50%;
        }
    }
    input:focus ~ .radio,
    input:hover ~ .radio {
        &:before {
            border-color: var(--radio-border);
            background-color: var(--radio-hover);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                border-color: #{map-deep-get($colors, 'colors', 'primary', 75)};
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'primary',
                        25
                    )};
            }
        }
        color: var(--radio-label-hover);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'primary', 75)};
        }
    }
    input:focus ~ .radio {
        &:before {
            color: var(--radio-hover);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                border-color: #{map-deep-get($colors, 'colors', 'primary', 75)};
            }
        }
    }

    input:checked ~ .radio {
        &:before {
            background-color: var(--radio-fill-checked);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'primary',
                        75
                    )};
            }
        }
        &:after {
            opacity: 1;
            background-color: var(--radio-check);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'primary',
                        75
                    )};
            }

            border: none;
            width: 8px;
            height: 8px;
            left: 6px;
            top: 8px;
        }
    }
}
