@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/typography.scss';

.fdInput {
    display: inline-block;
    .input {
        position: relative;
        float: left;
        font-family: map-deep-get($typography, 'font-family', 'regular'),
            sans-serif;
        width: 100%;
        input {
            color: var(--input-color);
            background-color: var(--input-background);
            transition: border 0.15s linear;
            font-family: map-deep-get($typography, 'font-family', 'regular'),
                sans-serif;
            padding: 1.7rem 1rem 0.6rem 1rem;
            font-size: 1rem;
            vertical-align: bottom;
            border: none;
            border-radius: 0;
            box-sizing: border-box;
            width: 100%;
            height: unset;
            outline: none;
            margin: unset;
            border-bottom: 2px solid var(--input-underline);

            &::-webkit-calendar-picker-indicator {
                filter: var(--input-date-picker-calendar-fill);
            }

            &[type='date'],
            &[type='month'],
            &[type='datetime'] {
                -webkit-appearance: none;
                min-width: 175px;
            }
            &::placeholder {
                color: var(--input-placeholder);
            }

            &[data-hide-number-spinners='true'] {
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                &[type='number'] {
                    -moz-appearance: textfield;
                }
            }

            &:hover {
                border-color: var(--input-underline-hover);
            }
            &:focus {
                border: none;
                caret-color: var(--input-caret);
                border-bottom: 2px solid var(--input-underline-focus);
            }

            &:disabled {
                border-bottom-color: var(--input-underline-disabled);
                color: var(--input-disabled);
                background-color: var(--input-fill-disabled);
                & ~ div > label {
                    color: var(--input-disabled);
                }
                & ~ .inputMessage {
                    color: var(--input-helper-text-disabled);
                }
            }
        }
        label {
            font-family: map-deep-get($typography, 'font-family', 'regular'),
                sans-serif;
            position: absolute;
            top: 1.2rem;
            left: 1rem;
            line-height: 1.2;
            padding: 0;
            transition: all 0.1s ease-out;
            color: var(--input-label);
            font-size: 1rem;
            user-select: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            right: 1rem;
            overflow: hidden;
            cursor: text;
        }
        input:not([type='month']):not([type='date']):not([type='datetime']):not(
                [placeholder=' ']
            )
            ~ div
            > label {
            font-size: 0.875rem;
            top: 0.5rem;
            right: 2rem;
        }
        input:not(:placeholder-shown) ~ div > label {
            font-size: 0.875rem;
            top: 0.5rem;
            right: 2rem;
        }
        input:not(:-ms-input-placeholder) ~ div > label,
        input:-ms-input-placeholder:not([placeholder=' ']) ~ div > label {
            font-size: 0.875rem;
            top: 0.5rem;
            right: 2rem;
        }
        input[type='month'] ~ div > label,
        input[type='date'] ~ div > label,
        input[type='datetime'] ~ div > label,
        input:focus ~ div > label {
            font-size: 0.875rem;
            top: 0.5rem;
            right: 2rem;
            color: var(--input-label-focus);
        }
        .inputMessage {
            transition: all 0.3s ease-out;
            font-size: 0.875rem;
            color: var(--input-helper-text);
            line-height: 1;
            font-family: map-deep-get($typography, 'font-family', 'regular'),
                sans-serif;
            font-weight: normal;
            margin-left: 1rem;
            &:not(.errorMessage):not(:empty) {
                max-height: 5rem;
                margin: 0.5rem 1rem;
            }
        }
        .errorMessage {
            opacity: 0;
            color: var(--input-error);
            max-height: 0;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
        }
    }
    /**
     * input validation styles
     */
    input:not(:required):focus ~ div > label ~ .iconCheck,
    input:required:valid ~ div > label ~ .iconCheck,
    input:not(:required):valid:not([placeholder=' '])
        ~ div
        > label
        ~ .iconCheck {
        opacity: 1;
    }
    input:not(:required):not(:placeholder-shown):valid
        ~ div
        > label
        ~ .iconCheck {
        opacity: 1;
    }
    input:not(:required):not(:-ms-input-placeholder):valid
        ~ div
        > label
        ~ .iconCheck {
        opacity: 1;
    }
    input:not([type='date']):not([type='month']):not(
            [type='datetime']
        ):required:not(:disabled):not(:valid):not(:placeholder-shown):not(
            :focus
        ) {
        &:not(:hover) {
            border-color: var(--input-error);
        }

        ~ div > label {
            color: var(--input-error);
        }
    }
    input:required:not(:valid):not(:disabled):not(:placeholder-shown):not(
            :focus
        )
        ~ .errorMessage:not(:empty) {
        max-height: 5rem;
        opacity: 1;
        margin: 0.5rem 1rem;
    }
    input:required:not(:valid):not(:disabled):not(:-ms-input-placeholder):not(
            :focus
        )
        ~ .errorMessage:not(:empty) {
        max-height: 5rem;
        opacity: 1;
        margin: 0.5rem 1rem;
    }

    .iconCheck {
        pointer-events: none;
        font-size: 0.75rem;
        transition: 0.1s all ease-out;
        opacity: 0;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        svg {
            fill: var(--input-valid);
            width: 12px;
            height: 12px;
        }
    }
}
