@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/typography.scss';

.fdFollowButton {
    position: relative;
    border-radius: 2px;
    white-space: nowrap;
    padding: 5px 10px;
    border: 1px solid var(--button-follow-outline);
    color: var(--button-follow-text);
    background-color: var(--button-follow);
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: map-deep-get($typography, 'font-family', 'regular'), sans-serif;
    font-size: 0.875rem;

    &:hover,
    &:focus {
        background-color: transparent;
        border-color: var(--button-follow-outline);
        color: var(--button-follow-text-hover);
    }
    .cross {
        &:before {
            content: '+';
            display: block;
            width: 10px;
            height: 10px;
            line-height: 10px;
        }
        display: inline-block;
        transform: rotate(0deg);
        transition: transform 0.5s;
        transform-origin: center center;
        font-size: 1.25rem;
        position: relative;
        top: 2px;
    }

    .buttonText {
        margin-left: 5px;
    }

    .activeText {
        display: none;
    }

    &[data-selected='true'] {
        background-color: var(--button-follow-active);
        color: var(--button-follow-active-text);
        &:focus,
        &:hover {
            color: var(--button-follow-text-active-hover);
            background-color: var(--button-follow-active-hover);
        }
        .cross {
            transform: rotate(45deg);
        }

        .defaultText {
            display: none;
        }
        .default-icon,
        .activeText {
            display: inline;
        }
    }
}
