@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.menuContainer {
    font-family: map-deep-get($typography, 'font-family', 'regular'), sans-serif;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navigation-background);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 70)};
    }

    .menuCenter {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        width: 1024px;
        position: relative;
    }

    .menu {
        height: 55px;
        box-sizing: border-box;
        display: inline-block;
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;

        ul {
            margin: 0;
            flex: 1 1 auto;
            list-style: none;
            left: 0;
            padding: 0;
            z-index: 9999;
            position: absolute;
            ul {
                display: inline-block;
                width: 100%;
                top: 0;

                ul {
                    float: left;
                    position: relative;
                    height: 100%;
                }

                li {
                    display: inline-block;
                    width: 100%;
                    background-color: var(--navigation-background);
                    // IE11
                    @media screen and (-ms-high-contrast: active),
                        (-ms-high-contrast: none) {
                        background-color: #{map-deep-get(
                                $colors,
                                'colors',
                                'neutral',
                                70
                            )};
                    }

                    // sub sub-menus.
                    li {
                        background-color: var(--dividers);
                        // IE11
                        @media screen and (-ms-high-contrast: active),
                            (-ms-high-contrast: none) {
                            background-color: #{map-deep-get(
                                    $colors,
                                    'colors',
                                    'neutral',
                                    60
                                )};
                        }

                        // sub sub sub-menus
                        li {
                            background-color: var(--navigation-background);
                            // IE11
                            @media screen and (-ms-high-contrast: active),
                                (-ms-high-contrast: none) {
                                background-color: #{map-deep-get(
                                        $colors,
                                        'colors',
                                        'neutral',
                                        70
                                    )};
                            }
                        }
                    }
                }
            }

            li {
                float: left;
                min-height: 55px;
            }
        }

        /**
         * First sub-menu level.
         */
        > ul {
            height: 55px;
        }
        > ul > li {
            position: relative;
            display: block;
            width: auto;
            float: left;
        }
        > ul > li > ul {
            left: 0;
            position: fixed;
            width: 100%;
            height: 100%;
            max-height: calc(100vh - 55px);
            top: 55px;
            background-color: var(--navigation-background);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        70
                    )};
            }
            @media screen and (min-width: map-deep-get($media, 'sizes', 'm')) {
                width: 300px;
                max-height: 60vh;
                height: auto;
                position: absolute;
            }

            overflow-y: auto;
        }

        button:not([aria-expanded='true'])
            ~ button:not([aria-expanded='true'])
            ~ :global(.hidden):not(:focus),
        a:not([aria-expanded='true'])
            ~ button:not([aria-expanded='true'])
            ~ :global(.hidden):not(:focus) {
            display: none;
        }

        a {
            float: left;
            &:not(.customComponent) {
                padding: 1rem;
            }
            flex: 1 1 auto;
            color: var(--meta-copy);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            &:hover {
                color: var(--link-hover);
                text-decoration: underline;
            }
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 30)};
                &:hover {
                    color: #{map-deep-get($colors, 'colors', 'primary', 50)};
                }
            }
        }

        .subMenuToggleButton {
            cursor: pointer;
            border: none;
            float: right;
            background-color: transparent;
            height: 55px;
            svg {
                width: 1rem;
                height: 1rem;
                fill: var(--content-copy);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
                }
            }
            &:hover {
                svg {
                    fill: var(--link-hover);
                    // IE11
                    @media screen and (-ms-high-contrast: active),
                        (-ms-high-contrast: none) {
                        color: #{map-deep-get($colors, 'colors', 'primary', 50)};
                    }
                }
            }
        }

        a,
        .subMenuToggleButton,
        .moreMenuToggleButton {
            &:active,
            &:focus {
                outline-offset: -1px;
            }
        }
    }

    .moreMenuToggleButton {
        cursor: pointer;
        background-color: transparent;
        border: none;
        height: 55px;
        float: none;
        font-family: map-deep-get($typography, 'font-family', 'regular'),
            sans-serif;
        font-size: 1rem;
        padding: 1rem;
        color: var(--meta-copy);
        &:hover {
            color: var(--link-hover);
        }
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 30)};
            &:hover {
                color: #{map-deep-get($colors, 'colors', 'primary', 50)};
            }
        }
    }
    #more-menu {
        > ul {
            @media screen and (min-width: map-deep-get($media, 'sizes', 'm')) {
                left: -39px;
            }
        }
        ~ li {
            visibility: hidden;
        }
    }

    .customComponentsContainer {
        display: inline-flex;
        align-items: center;
        flex: 0 1 auto;
        padding: 0 1rem;
        z-index: 9999;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem;
        background: var(--dividers);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background: #{map-deep-get($colors, 'colors', 'neutral', 50)};
        }
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem;
        background: var(--meta-copy);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--functional-copy);
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0, 0, 0, 0.1);
    }
}
