@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.menuContainer {
    font-family: map-deep-get($typography, 'font-family', 'regular'), sans-serif;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navigation-background);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 70)};
    }

    .menuCenter {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        width: 1024px;
        position: relative;
    }

    .menu {
        height: 55px;
        box-sizing: border-box;
        display: inline-block;
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;

        ul {
            z-index: 9999;
            position: absolute;
            ul {
                display: inline-flex;
                top: 0;
                flex-direction: column;
            }
        }

        /**
         * First sub-menu level.
         */
        > ul > li > ul {
            top: 55px;
        }

        ul {
            flex: 1 1 auto;
            list-style: none;
            left: 0;
            padding: 0;
            li {
                display: flex;
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    display: inline-block;
                    height: 55px;
                }
                justify-content: space-between;
                position: relative;
                background-color: var(--navigation-background);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    background-color: #{map-deep-get(
                            $colors,
                            'colors',
                            'neutral',
                            70
                        )};
                }
                a {
                    display: inline-block;
                    flex-basis: calc(100% - 4rem);
                }
            }
        }
        > ul {
            display: flex;
            margin: 0;
            top: 0;
            > li {
                // First level sub-menu.
                > ul {
                    position: absolute;
                    box-sizing: border-box;
                    overflow-y: auto;
                    width: 240px;
                    max-height: 60vh;
                    li {
                        background-color: var(--dividers);
                        // IE11
                        @media screen and (-ms-high-contrast: active),
                            (-ms-high-contrast: none) {
                            background-color: #{map-deep-get(
                                    $colors,
                                    'colors',
                                    'neutral',
                                    60
                                )};
                        }

                        li {
                            background-color: var(--navigation-background);
                            // IE11
                            @media screen and (-ms-high-contrast: active),
                                (-ms-high-contrast: none) {
                                background-color: #{map-deep-get(
                                        $colors,
                                        'colors',
                                        'neutral',
                                        70
                                    )};
                            }
                        }
                    }
                }
                .hasItems {
                    ul {
                        position: relative;
                        // IE11
                        @media screen and (-ms-high-contrast: active),
                            (-ms-high-contrast: none) {
                            display: flex;
                            min-width: 100%;
                        }
                    }
                }
            }
        }

        ul ul > li {
            flex-wrap: wrap;
            box-sizing: border-box;
            top: 0;
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                min-width: 100%;
            }
        }

        button:not([aria-expanded='true'])
            ~ button:not([aria-expanded='true'])
            ~ :global(.hidden):not(:hover):not(:focus),
        a:not([aria-expanded='true'])
            ~ button:not([aria-expanded='true'])
            ~ :global(.hidden):not(:hover):not(:focus) {
            display: none;
        }

        a {
            &:not(.customComponent) {
                padding: 1rem;
            }
            display: inline-block;
            flex: 1 1 auto;
            color: var(--meta-copy);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            &:hover {
                color: var(--link-hover);
                text-decoration: underline;
            }
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 30)};
                &:hover {
                    color: #{map-deep-get($colors, 'colors', 'primary', 50)};
                }
            }
        }

        button {
            cursor: pointer;
            border: none;
            float: right;
            background-color: transparent;
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                height: 55px;
            }
            svg {
                width: 1rem;
                height: 1rem;
                fill: var(--content-copy);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
                }
            }
            &:hover {
                svg {
                    fill: var(--link-hover);
                    // IE11
                    @media screen and (-ms-high-contrast: active),
                        (-ms-high-contrast: none) {
                        color: #{map-deep-get($colors, 'colors', 'primary', 50)};
                    }
                }
            }
        }

        a,
        button {
            &:active,
            &:focus {
                outline-offset: -1px;
            }
        }
    }

    #more-menu {
        > button:first-child {
            float: none;
            font-family: map-deep-get($typography, 'font-family', 'regular'),
                sans-serif;
            font-size: 1rem;
            padding: 1rem;
            color: var(--meta-copy);
            &:hover {
                color: var(--link-hover);
                text-decoration: underline;
            }
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 30)};
                &:hover {
                    color: #{map-deep-get($colors, 'colors', 'primary', 50)};
                }
            }
        }
        > ul {
            left: -39px;
        }
    }
    #more-menu ~ li {
        visibility: hidden;
    }

    .customComponentsContainer {
        display: inline-flex;
        align-items: center;
        flex: 0 1 auto;
        padding: 0 1rem;
        z-index: 9999;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem;
        background: var(--dividers);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background: #{map-deep-get($colors, 'colors', 'neutral', 50)};
        }
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem;
        background: var(--meta-copy);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--functional-copy);
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0, 0, 0, 0.1);
    }
}
