$media: (
  sizes: (
    xs: "640px",
    s: "640px",
    m: "768px",
    l: "1024px",
    xl: "1280px",
    xs-min-width: 640,
    s-min-width: 768,
    m-min-width: 896,
    l-min-width: 1024,
    xl-min-width: 1280,
    xxl-min-width: 1600
  )
);
