@import '../../utils/map-deep-get.scss';
@import '../colors.scss';

@mixin dark-tokens {
    --filter-invert: invert(1);

    --product-background: #{map-deep-get($colors, 'colors', 'neutral', 0)};
    --product-background-2: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --content-background: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --navigation-background: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --opaque-label-background: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --opaque-label-longread-background: #{map-deep-get(
            $colors,
            'colors',
            'longread',
            50
        )};
    --opaque-label-persoonlijk-background: #{map-deep-get(
            $colors,
            'colors',
            'persoonlijk',
            50
        )};
    --dividers: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --content-copy: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --opaque-label-copy: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --title-copy: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --meta-copy: #{map-deep-get($colors, 'colors', 'neutral', 60)};
    --quote: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --numberframe: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --textframe: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --wordframe: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --functional-copy: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --captions: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --credits: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --writer: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --time: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --card: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --card-active: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --card-visited: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --card-text-visited: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --card-hover: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --card-2: #{map-deep-get($colors, 'colors', 'neutral', 20)};
    --primary: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --primary-active: #{map-deep-get($colors, 'colors', 'primary', 25)};

    /**
     * Inputs
     */
    --input-caret: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --input-label: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --input-label-focus: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --input-color: #{map-deep-get($colors, 'colors', 'neutral', 20)};
    --input-underline: #{map-deep-get($colors, 'colors', 'neutral', 60)};
    --input-underline-hover: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --input-underline-focus: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --input-valid: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --input-error: #{map-deep-get($colors, 'colors', 'negative', 25)};
    --input-fill: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --input-helper-text: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --input-disabled: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --checkbox-fill: #{map-deep-get($colors, 'colors', 'neutral', 80)};
    --checkbox-check: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --checkbox-border: #{map-deep-get($colors, 'colors', 'secondary', 50)};
    --checkbox-outline: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --radio-check: #{map-deep-get($colors, 'colors', 'secondary', 75)};
    --radio-border: #{map-deep-get($colors, 'colors', 'secondary', 50)};
    --radio-fill: #{map-deep-get($colors, 'colors', 'neutral', 80)};
    --switch-knob: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --switch-fill: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --switch-check-fill: #{map-deep-get($colors, 'colors', 'secondary', 25)};
    --switch-active: #{map-deep-get($colors, 'colors', 'secondary', 50)};

    /**
     * Links
     */
    --link: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --link-hover: #{map-deep-get($colors, 'colors', 'primary', 25)};
    --link-persoonlijk: #{map-deep-get($colors, 'colors', 'persoonlijk', 75)};
    --link-persoonlijk-hover: #{map-deep-get(
            $colors,
            'colors',
            'persoonlijk',
            50
        )};
    --link-longread: #{map-deep-get($colors, 'colors', 'longread', 50)};
    --link-longread-hover: #{map-deep-get($colors, 'colors', 'longread', 25)};

    /**
     * Stocks
     */
    --stock-negative: #{map-deep-get($colors, 'colors', 'negative', 25)};
    --stock-negative-fill: #{map-deep-get($colors, 'colors', 'negative', 25)};
    --stock-positive: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --stock-positive-fill: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --stock-closed: #{map-deep-get($colors, 'colors', 'neutral', 40)};

    /**
     * Buttons
     */
    --button-text: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --button: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --button-outline: #{map-deep-get($colors, 'colors', 'secondary', 50)};
    --button-hover: #{map-deep-get($colors, 'colors', 'primary', 100)};
    --button-focus: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --button-active: #{map-deep-get($colors, 'colors', 'primary', 100)};
    --button-disabled: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --button-cta-text: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --button-cta: #{map-deep-get($colors, 'colors', 'secondary', 50)};
    --button-cta-outline: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --button-cta-hover: #{map-deep-get($colors, 'colors', 'secondary', 75)};
    --button-cta-focus: #{map-deep-get($colors, 'colors', 'secondary', 50)};
    --button-cta-active: #{map-deep-get($colors, 'colors', 'secondary', 100)};
    --button-cta-disabled: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --button-ghost-text: #{map-deep-get($colors, 'colors', 'neutral', 80)};
    --button-ghost: transparent;
    --button-ghost-outline: #{map-deep-get($colors, 'colors', 'primary', 100)};
    --button-ghost-hover-outline: #{map-deep-get(
            $colors,
            'colors',
            'primary',
            75
        )};
    --button-ghost-hover: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --button-ghost-focus: #{map-deep-get($colors, 'colors', 'neutral', 80)};
    --button-ghost-active-text: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --button-ghost-active: #{map-deep-get($colors, 'colors', 'primary', 25)};
    --button-ghost-disabled: #{map-deep-get($colors, 'colors', 'neutral', 30)};

    --upsell-gradient: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75) 50%,
        rgba(0, 0, 0, 1) 90%
    );
}
