@import '../../utils/map-deep-get.scss';
@import '../colors.scss';

@mixin light-tokens {
    --filter-invert: invert(0);
    // --logo: url(../img/fd/static/logo.svg);
    --persoonlijk-logo-filter: none;

    --product-background: #{map-deep-get($colors, 'colors', 'neutral', 80)};
    --product-background-2: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --content-background: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --navigation-background: #{map-deep-get($colors, 'colors', 'neutral', 70)};
    --navigation-item: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --navigation-item-active: #{map-deep-get($colors, 'colors', 'neutral', 60)};
    --opaque-label-background: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --opaque-label-longread-background: #{map-deep-get(
            $colors,
            'colors',
            'longread',
            75
        )};
    --opaque-label-persoonlijk-background: #{map-deep-get(
            $colors,
            'colors',
            'persoonlijk',
            75
        )};
    --dividers: #{map-deep-get($colors, 'colors', 'neutral', 60)};
    --content-copy: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --opaque-label-copy: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --title-copy: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --meta-copy: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --quote: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --numberframe: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --textframe: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --wordframe: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --functional-copy: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --captions: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --credits: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --writer: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --time: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --primary: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --primary-active: #{map-deep-get($colors, 'colors', 'primary', 100)};
    --breaking: #{map-deep-get($colors, 'colors', 'negative', 75)};
    --breaking-label-copy: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --breaking-hover: #{map-deep-get($colors, 'colors', 'negative', 100)};

    /**
     * Card
     */
    --card: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --card-active: #{map-deep-get($colors, 'colors', 'neutral', 80)};
    --card-outline-active: #{map-deep-get($colors, 'colors', 'neutral', 60)};
    --card-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    --card-visited: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --card-text-visited: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --card-label-text-visited: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --card-label-visited: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --card-hover: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --card-2: #{map-deep-get($colors, 'colors', 'neutral', 80)};

    /**
     * Inputs
     */
    --search-bar: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --input-background: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    // https://tests.christianoliff.com/hex-to-css-filter-generator/
    --input-date-picker-calendar-fill: invert(41%) sepia(19%) saturate(293%)
        hue-rotate(333deg) brightness(93%) contrast(87%);
    --input-caret: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --input-placeholder: #{map-deep-get($colors, 'colors', 'neutral', 60)};
    --input-label: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --input-label-focus: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --input-color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --input-underline: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --input-underline-disabled: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --input-underline-hover: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --input-underline-focus: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --input-valid: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --input-error: #{map-deep-get($colors, 'colors', 'negative', 75)};
    --input-fill: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --input-fill-disabled: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --input-helper-text: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --input-helper-text-disabled: #{map-deep-get(
            $colors,
            'colors',
            'neutral',
            50
        )};
    --input-disabled: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --select-placeholder: #{map-deep-get($colors, 'colors', 'neutral', 60)};
    --select-label: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --select-label-focus: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --select-color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --select-underline: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --select-underline-disabled: #{map-deep-get(
            $colors,
            'colors',
            'neutral',
            50
        )};
    --select-underline-hover: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --select-underline-focus: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --select-valid: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --select-error: #{map-deep-get($colors, 'colors', 'negative', 75)};
    --select-fill: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --select-fill-disabled: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --select-helper-text: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --select-helper-text-disabled: #{map-deep-get(
            $colors,
            'colors',
            'neutral',
            50
        )};
    --select-disabled: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --checkbox-fill: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --checkbox-fill-checked: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --checkbox-check: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --checkbox-border: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --checkbox-label-hover: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --checkbox-hover: #{map-deep-get($colors, 'colors', 'primary', 25)};
    --radio-check: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --radio-border: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --radio-label-hover: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --radio-fill: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --radio-fill-checked: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --radio-hover: #{map-deep-get($colors, 'colors', 'primary', 25)};
    --switch-knob: #{map-deep-get($colors, 'colors', 'neutral', 60)};
    --switch-fill: #{map-deep-get($colors, 'colors', 'neutral', 70)};
    --switch-check-fill: #{map-deep-get($colors, 'colors', 'primary', 25)};
    --switch-active: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --switch-label-hover: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --switch-hover: #{map-deep-get($colors, 'colors', 'primary', 25)};

    /**
     * Links
     */
    --link: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --link-hover: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --link-active: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --link-persoonlijk: #{map-deep-get($colors, 'colors', 'persoonlijk', 75)};
    --link-persoonlijk-hover: #{map-deep-get(
            $colors,
            'colors',
            'persoonlijk',
            50
        )};
    --link-longread: #{map-deep-get($colors, 'colors', 'longread', 75)};
    --link-longread-hover: #{map-deep-get($colors, 'colors', 'longread', 25)};

    /**
     * Stocks
     */
    --stock-negative: #{map-deep-get($colors, 'colors', 'negative', 50)};
    --stock-negative-fill: #{map-deep-get($colors, 'colors', 'negative', 25)};
    --stock-positive: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --stock-positive-fill: #{map-deep-get($colors, 'colors', 'primary', 50)};
    --stock-closed: #{map-deep-get($colors, 'colors', 'neutral', 40)};

    /**
     * Buttons
     */
    --button-text: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --button: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --button-outline: #{map-deep-get($colors, 'colors', 'secondary', 75)};
    --button-hover: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --button-focus: #{map-deep-get($colors, 'colors', 'neutral', 0)};
    --button-active: #{map-deep-get($colors, 'colors', 'neutral', 0)};
    --button-disabled: #{map-deep-get($colors, 'colors', 'neutral', 60)};
    --button-cta-text: #{map-deep-get($colors, 'colors', 'neutral', 100)};
    --button-cta: #{map-deep-get($colors, 'colors', 'secondary', 75)};
    --button-cta-outline: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --button-cta-hover: #{map-deep-get($colors, 'colors', 'secondary', 50)};
    --button-cta-focus: #{map-deep-get($colors, 'colors', 'secondary', 100)};
    --button-cta-active: #{map-deep-get($colors, 'colors', 'secondary', 100)};
    --button-cta-disabled: #{map-deep-get($colors, 'colors', 'secondary', 25)};
    --button-ghost-text: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    --button-ghost: transparent;
    --button-ghost-outline: #{map-deep-get($colors, 'colors', 'primary', 100)};
    --button-ghost-hover-outline: #{map-deep-get(
            $colors,
            'colors',
            'primary',
            75
        )};
    --button-ghost-hover: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --button-ghost-focus: #{map-deep-get($colors, 'colors', 'primary', 100)};
    --button-ghost-active-text: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --button-ghost-active: transparent;
    --button-ghost-disabled: #{map-deep-get($colors, 'colors', 'neutral', 60)};

    --upsell-gradient: linear-gradient(
        to bottom,
        rgba(255, 234, 219, 0),
        rgba(255, 234, 219, 0.75) 50%,
        rgba(255, 234, 219, 1) 90%
    );

    /**
     * Article progress bar
     */
    --progress-bar: #{map-deep-get($colors, 'colors', 'primary', 25)};
    --progression-bar: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --progress-bar-longread: #{map-deep-get($colors, 'colors', 'longread', 25)};
    --progression-bar-longread: #{map-deep-get(
            $colors,
            'colors',
            'longread',
            75
        )};

    /**
     * Article toolbar
     */
    --toolbar: #{map-deep-get($colors, 'colors', 'neutral', 80)};
    --toolbar-hover-color: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --toolbar-longread-hover-color: #{map-deep-get(
            $colors,
            'colors',
            'longread',
            75
        )};
    --toolbar-icon: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    --toolbar-horizontal: #{map-deep-get($colors, 'colors', 'neutral', 0)};
    --toolbar-horizontal-icon: #{map-deep-get($colors, 'colors', 'neutral', 50)};
    --toolbar-horizontal-hover-color: #{map-deep-get(
            $colors,
            'colors',
            'primary',
            50
        )};

    /**
     * Profile
     */
    --profile-background: #{map-deep-get($colors, 'colors', 'primary', 75)};
    --profile-copy: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --profile-link: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --profile-link-hover: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    --profile-extra-navigation-item: #{map-deep-get(
            $colors,
            'colors',
            'neutral',
            30
        )};

    /**
     * Beurs
     */
    --radar-stock: #{map-deep-get($colors, 'colors', 'neutral', 20)};
    --stock-ticker-stock: #666;
    --stock-ticker-description: #{map-deep-get($colors, 'colors', 'neutral', 30)};
    --stock-ticker-negative: #c60f0f;
    --stock-ticker-price: #333;
    --fondsnieuws-logo-color: #000;
}
