@import '../../../utils/map-deep-get.scss';
@import '../../../design-tokens/colors.scss';
@import '../../../design-tokens/media.scss';
@import '../../../design-tokens/typography.scss';

.footer {
    display: inline-block;
    font-family: map-deep-get($typography, 'font-family', 'bold'), sans-serif;
    font-size: 0.875rem;
    color: var(--meta-copy);
    menu {
        text-align: right;
        padding-inline-start: 0;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;

        * {
            white-space: nowrap;
        }
    }

    a {
        &:hover {
            text-decoration: underline;
        }
        display: none;
        @media screen and (min-width: map-deep-get($media, 'sizes', 'm')) {
            display: inline;
        }

        cursor: pointer;
        background-color: transparent;
        border: none;
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
        font-size: 0.875rem;
        color: var(--meta-copy);
    }

    .icon {
        svg {
            position: relative;
            bottom: -3px;
            width: 1rem;
            height: 1rem;
            fill: var(--meta-copy);
        }
    }
}
