@import '../../../utils/map-deep-get.scss';
@import '../../../design-tokens/colors.scss';
@import '../../../design-tokens/media.scss';
@import '../../../design-tokens/typography.scss';

.readingTime {
    margin-top: 0.5rem;
    font-size: 0.8125rem;
    line-height: 1.1875;
    font-family: map-deep-get($typography, 'font-family', 'bold'), sans-serif;
    color: var(--meta-copy);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        color: #{map-deep-get($colors, 'colors', 'neutral', 40)};
    }
    white-space: nowrap;

    .icon {
        svg {
            position: relative;
            bottom: -3px;
            width: 1rem;
            height: 1rem;
            &,
            path[fill='#917F78'] {
                fill: var(--meta-copy);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    fill: #{map-deep-get($colors, 'colors', 'neutral', 40)};
                }
            }
        }
    }
}
