@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';

.verticalToolbar {
    display: flex;
    flex-direction: column;
    .ariaLabel {
        opacity: 0;
        position: absolute;
    }

    &#{&} {
        button {
            display: flex;
            align-items: center;
            width: 3rem;
            min-height: 3rem; // IE11 needs min-height
            outline: none;
            padding: 0.75rem;
            background-color: var(--toolbar);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        80
                    )};
            }

            &:hover,
            &:focus {
                box-shadow: inset 2px 0 0 0 var(--toolbar-hover-color);
                background-color: var(--toolbar);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    box-shadow: inset 2px 0 0 0 #{map-deep-get(
                            $colors,
                            'colors',
                            'primary',
                            75
                        )};
                    background-color: #{map-deep-get(
                            $colors,
                            'colors',
                            'neutral',
                            80
                        )};
                }
            }
            &:active,
            &:hover:active {
                background-color: transparent;
            }

            .icon {
                display: flex;
                svg,
                svg [fill='#917F78'] {
                    margin: 0;
                    width: 20px;
                    height: 20px;
                    fill: var(--toolbar-icon);
                    // IE11
                    @media screen and (-ms-high-contrast: active),
                        (-ms-high-contrast: none) {
                        fill: #{map-deep-get($colors, 'colors', 'neutral', 40)};
                    }
                }

                &.bookmarkFill {
                    display: none;
                }
                &.bookmarkClear {
                    display: flex;
                }
            }

            &:global(.active) .icon {
                &.bookmarkFill {
                    display: flex;
                }
                &.bookmarkClear {
                    display: none;
                }
            }

            &:hover,
            &:active {
                svg {
                    fill: var(--toolbar-hover-color);
                    // IE11
                    @media screen and (-ms-high-contrast: active),
                        (-ms-high-contrast: none) {
                        fill: #{map-deep-get($colors, 'colors', 'primary', 75)};
                    }
                }
            }
        }
    }

    hr {
        border: none;
        margin: 0 0 0.5rem 0;
    }
}
