@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.fdAuthorInfo {
    color: var(--content-copy);
    background-color: var(--card);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    }
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);

    h3 {
        -webkit-font-smoothing: antialiased;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 1.0625rem;
        }
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }
    }

    .profile,
    .controls {
        padding: 12px 10px;
        @media only screen and (min-width: 641px) {
            padding: 12px;
        }
        @media only screen and (min-width: 861px) {
            padding: 12px 15px;
        }
    }
    .profile {
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
        .fd-author-info-h {
            margin-bottom: 0.5rem;
            line-height: 1.5;
        }
        .description {
            font-family: map-deep-get($typography, 'font-family', 'regular'),
                sans-serif;
            line-height: 1.434375rem;
            font-size: 1rem;
            * {
                margin: 0;
            }
            @media only screen and (min-width: 641px) {
                font-size: 1.0625rem;
            }
        }
    }
    .controls {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .button,
        .followButton {
            width: 100%;
            text-align: left;
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
            i {
                margin-right: 1rem;
            }
        }
    }

    .icon {
        display: inline-block;
        svg {
            width: 1rem;
            height: 17px;
            fill: white;
            margin-right: 1rem;
        }
    }

    .buttonText {
        bottom: 1px;
        position: relative;
    }
}
