@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.fdHorizontalCard4 {
    transition: box-shadow 0.15s linear;
    position: relative;
    margin-bottom: 1px;
    justify-content: space-between;
    background: #{map-deep-get($colors, 'colors', 'primary', 75)};
    box-shadow: 0 1px 0.2px rgba(0, 0, 0, 0.1);
    position: relative;

    a {
        color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
        display: flex;
        flex-direction: row;
        text-decoration: none;
        min-width: 0;
        &:hover {
            h1 {
                text-decoration: underline;
            }
        }
    }

    .figure.empty {
        display: flex;
        img {
            display: block;
            margin: auto;
            width: 64px;
        }
    }

    figure,
    .figure {
        background-size: cover;
        background-position: center;
        flex: 0 0 80px;
        height: 80px;
        @media screen and (min-width: 641px) {
            flex: 0 0 112px;
            min-height: 112px;
        }
    }

    figure {
        position: relative;
        display: flex;
        flex: 0 0 80px;
        overflow: hidden;
        @media screen and (min-width: 641px) {
            flex: 0 0 112px;
        }

        img {
            display: block;
            position: absolute;
            height: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            width: auto;
        }

        picture {
            position: relative;
            width: 80px;
            overflow: hidden;
            @media screen and (min-width: 641px) {
                width: 112px;
            }
        }

        figcaption {
            display: none;
        }
    }

    .teaserText {
        position: relative;
        flex: 1;
        > a {
            color: var(--content-copy);
            display: block;
            overflow: visible;
        }
    }

    .meta {
        position: inherit;
        top: auto;
        left: auto;
        right: auto;
        .update {
            padding: 1px 8px;
            color: var(--card);
            background-color: var(--primary);
            line-height: 2em;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
            text-transform: uppercase;
        }

        .dot {
            margin: 0 0.25rem;
        }

        time {
            white-space: nowrap;
        }
    }

    .empty.figure {
        align-items: center;
    }

    &.isRead:not(:hover):not(:active) {
        opacity: var(--card-visited-opacity);
    }

    &:focus:not(:active),
    &:hover:not(:active) {
        box-shadow: var(--card-box-shadow);
        z-index: 1;
    }
    &:active {
        z-index: 1;
        outline: 2px solid var(--card-outline-active);
    }
}

html.touch {
    .fdHorizontalCard4 {
        &:hover {
            box-shadow: 0 1px 0.2px rgba(0, 0, 0, 0.1);
        }
    }
}
