@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.horizontalCard2 {
    transition: box-shadow 0.15s linear;
    margin-bottom: 1px;
    justify-content: space-between;
    background-color: var(--card);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    }
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);

    a {
        padding: 1rem;
        text-decoration: none;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }
        display: block;
        overflow: visible;
        &:focus,
        &:hover {
            h1 {
                text-decoration: underline;
            }
        }
    }

    .teaserText {
        position: relative;
        flex: 1;

        .meta {
            display: flex;
            justify-content: space-between;
            position: inherit;
            top: auto;
            left: auto;
            right: auto;
            margin: 0 0 8px 0;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
            font-size: 0.8125rem;
            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                font-size: 0.9375rem;
            }
            color: var(--primary);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'primary', 75)};
            }

            span {
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            time {
                font-family: map-deep-get($typography, 'font-family', 'bold'),
                    sans-serif;
                color: var(--meta-copy);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    color: #{map-deep-get($colors, 'colors', 'neutral', 40)};
                }
                white-space: nowrap;
            }
        }

        h1 {
            margin: 0;
        }

        .intro {
            margin: 0.25rem 0 0 0;
        }
    }

    footer menu {
        float: none;
    }

    .favorite .ico {
        margin: inherit;
        top: inherit;
    }

    footer menu > * {
        min-height: inherit;
        line-height: 22px;
    }

    footer {
        min-height: inherit;
    }

    &.isRead:not(:hover):not(:active) {
        .meta .prefix,
        .meta time,
        .textContainer h1 {
            color: var(--card-text-visited);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 40)};
            }
        }

        background-color: var(--card-visited);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
        }
    }

    &:focus:not(:active),
    &:hover:not(:active) {
        box-shadow: var(--card-box-shadow);
        background-color: var(--card-hover);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 80)};
        }
        z-index: 1;
    }
    &:active {
        z-index: 1;
        outline: 2px solid var(--card-outline-active);
        background-color: var(--card-active);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 60)};
        }
    }
}
