@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.horizontalCard1 {
    transition: box-shadow 0.15s linear;
    margin-bottom: 1px;
    justify-content: space-between;
    background-color: var(--card);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    }
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);
    position: relative;

    h1 {
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        &:focus,
        &:hover {
            h1 {
                text-decoration: underline;
            }
        }
    }

    .figure.empty img {
        max-width: 100%;
    }
    figure,
    .figure.empty {
        position: relative;
        display: flex;
        flex: 0 0 80px;
        width: 80px;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            flex: 0 0 112px;
            width: 112px;
            height: 112px;
        }

        picture {
            position: relative;
            width: 80px;
            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                width: 112px;
                height: 112px;
            }
            overflow: hidden;
            > img {
                display: block;
                position: absolute;
                height: 100%;
                left: 50%;
                transform: translate(-50%, 0);
                width: auto;
            }
        }

        figcaption {
            display: none;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
        }
    }

    .figure.empty img {
        width: 64px;
        margin: auto;
    }

    .figure,
    figure {
        background-size: cover;
        background-position: center;
        background-color: #e6d3c6;
        flex: 0 0 80px;
        height: 80px;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            flex: 0 0 112px;
            min-height: 112px;
            height: auto;
        }
    }

    .teaserText {
        position: relative;
        flex: 1;

        > a {
            color: var(--content-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
            }
            display: block;
            overflow: visible;
        }
    }

    .meta {
        position: inherit;
        top: auto;
        left: auto;
        right: auto;
        display: flex;
        justify-content: space-between;
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
        font-size: 0.8125rem;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 0.9375rem;
        }

        .update {
            padding: 1px 8px;
            color: var(--card);
            background-color: var(--primary);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'primary',
                        75
                    )};
            }
            line-height: 2em;
            font-size: 0.625rem;
            letter-spacing: 2.5px;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
            text-transform: uppercase;
        }

        .prefix {
            text-transform: uppercase;
            color: var(--primary);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'primary', 75)};
            }

            letter-spacing: 1px;
        }

        time {
            color: var(--meta-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 40)};
            }
            white-space: nowrap;
        }
    }

    &.longread .teaserText .prefix {
        color: var(--link-longread);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'longread', 50)};
        }
    }

    footer menu {
        float: none;
    }

    .favorite .ico {
        margin: inherit;
        top: inherit;
    }

    footer menu > * {
        min-height: inherit;
        line-height: 22px;
    }

    footer {
        min-height: inherit;
    }

    &.isRead:not(:hover):not(:active) {
        @media (prefers-color-scheme: dark) {
            opacity: var(--card-visited-opacity);
        }
        @media (prefers-color-scheme: light) {
            opacity: var(--card-visited-opacity);
        }
    }

    &:focus:not(:active),
    &:hover:not(:active) {
        box-shadow: var(--card-box-shadow);
        background-color: var(--card-hover);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 80)};
        }
        z-index: 1;
    }
    &:active {
        z-index: 1;
        outline: 2px solid var(--card-outline-active);
        background-color: var(--card-active);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 60)};
        }
    }
}
