@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.horizontalCard1 {
    margin-bottom: 1px;
    justify-content: space-between;
    padding: 0;
    background-color: var(--card);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    }
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);
    position: relative;

    h1 {
        font-family: map-deep-get($typography, 'font-family', 'bold-serif'),
            serif;
        font-size: 1rem;
        line-height: 19px;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 1.5625rem;
            line-height: 30px;
        }

        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }
        margin: 0;
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        &:hover {
            h1 {
                text-decoration: underline;
            }
        }
    }

    .textContainer {
        margin-bottom: 0;
    }

    .figure.empty img {
        max-width: 100%;
    }
    figure,
    .figure.empty {
        position: relative;
        display: flex;
        margin: 0;
        flex: 0 0 100px;

        picture {
            position: relative;
            width: 100px;
            overflow: hidden;
        }

        img {
            display: block;
            position: absolute;
            height: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            width: auto;
        }

        figcaption {
            display: none;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
        }

        &.themed {
            justify-content: center;
            align-items: center;
            &:before {
                content: '';
                display: block;
                width: 100%;
                padding-top: 66.5%;
            }
            picture {
                top: 0;
                left: -50%;
                margin: 0 -50%;
                border-radius: 50%;
                flex: 0 0 80px;
                height: 80px;
            }
            &:after {
                content: none;
            }

            &.theme1 {
                background-color: #677381;
            }
            &.theme2 {
                background-color: #f05031;
            }
            &.theme3 {
                background-color: #ddac68;
            }
            &.theme4 {
                background-color: #f3736b;
            }
            &.theme5 {
                background-color: #917caa;
            }
            &.theme6 {
                background-color: #4393ab;
            }
            &.theme7 {
                background-color: #49a4a2;
            }
            &.theme8 {
                background-color: #c5324b;
            }
        }
    }

    .figure.empty img {
        width: 64px;
        margin: auto;
    }

    .theme {
        flex: 0 0 100px;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .figure {
            border-radius: 50%;
            flex: 0 0 80px;
            min-height: 80px;
        }
    }

    .figure {
        background-size: cover;
        background-position: center;
        background-color: #e6d3c6;
        flex: 0 0 100px;
        min-height: 100px;
    }

    .teaserText {
        position: relative;
        flex: 1;
        p {
            margin-bottom: 0;
        }
        padding: 12px;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            padding: 16px;
        }

        > a {
            color: var(--content-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
            }
            display: block;
            overflow: visible;
        }
    }

    .meta {
        position: inherit;
        top: auto;
        left: auto;
        right: auto;
        margin: 0 0 8px 0;
        display: flex;
        justify-content: space-between;
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
        font-size: 0.8125rem;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 0.9375rem;
        }

        .update {
            padding: 1px 8px;
            color: #ffeadb;
            background-color: var(--primary);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'primary', 75)};
            }
            line-height: 2em;
            font-size: 0.625rem;
            letter-spacing: 2.5px;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
            text-transform: uppercase;
        }

        .prefix {
            text-transform: uppercase;
            color: var(--primary);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'primary', 75)};
            }

            letter-spacing: 1px;
        }

        time {
            color: var(--meta-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 40)};
            }
            white-space: nowrap;
        }
    }

    &.longread .teaserText .prefix {
        color: var(--link-longread);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'longread', 50)};
        }
    }

    footer menu {
        float: none;
    }

    .favorite .ico {
        margin: inherit;
        top: inherit;
    }

    footer menu > * {
        min-height: inherit;
        line-height: 22px;
    }

    footer {
        min-height: inherit;
    }

    &.isRead {
        .figure {
            opacity: 0.6;
        }
        .meta .prefix {
            color: var(--meta-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 40)};
            }
        }
        .textContainer h1 {
            opacity: 0.5;
        }
    }
}
