@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.horizontalCard2 {
    transition: box-shadow 0.15s linear;
    margin-bottom: 1px;
    justify-content: space-between;
    background-color: var(--card);
    box-shadow: 0 1px 0.2px rgba(0, 0, 0, 0.1);

    a {
        text-decoration: none;
        color: var(--content-copy);
        display: block;
        overflow: visible;
        &:focus,
        &:hover {
            h1 {
                text-decoration: underline;
            }
        }
    }

    .teaserText {
        position: relative;
        flex: 1;

        .meta {
            display: flex;
            justify-content: space-between;
            position: inherit;
            top: auto;
            left: auto;
            right: auto;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
            font-size: 0.8125rem;
            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                font-size: 0.9375rem;
            }
            color: var(--primary);
            span {
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            time {
                font-family: map-deep-get($typography, 'font-family', 'bold'),
                    sans-serif;
                color: var(--meta-copy);
                white-space: nowrap;
            }
        }
    }

    footer menu {
        float: none;
    }

    .favorite .ico {
        margin: inherit;
        top: inherit;
    }

    footer menu > * {
        min-height: inherit;
        line-height: 22px;
    }

    footer {
        min-height: inherit;
    }

    &.isRead:not(:hover):not(:active) {
        opacity: var(--card-visited-opacity);
    }

    &:focus:not(:active),
    &:hover:not(:active) {
        box-shadow: var(--card-box-shadow);
        background-color: var(--card-hover);
        z-index: 1;
    }
    &:active {
        z-index: 1;
        outline: 2px solid var(--card-outline-active);
        background-color: var(--card-active);
    }
}
