@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.horizontalCard1 {
    transition: box-shadow 0.15s linear;
    margin-bottom: 1px;
    justify-content: space-between;
    background-color: var(--card);
    box-shadow: 0 1px 0.2px rgba(0, 0, 0, 0.1);
    position: relative;
    h1 {
        color: var(--content-copy);
    }
    a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        &:focus,
        &:hover {
            h1 {
                text-decoration: underline;
            }
        }
    }

    .figure.empty img {
        max-width: 100%;
    }
    figure,
    .figure.empty {
        position: relative;
        display: flex;
        flex: 0 0 80px;
        width: 80px;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            flex: 0 0 112px;
            width: 112px;
            height: 112px;
        }
        picture {
            position: relative;
            width: 80px;
            overflow: hidden;
            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                width: 112px;
                height: 112px;
            }
            > img {
                display: block;
                position: absolute;
                height: 100%;
                left: 50%;
                transform: translate(-50%, 0);
                width: auto;
            }
        }

        figcaption {
            display: none;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
        }
    }

    .figure.empty img {
        width: 64px;
        margin: auto;
    }

    .figure,
    figure {
        background-size: cover;
        background-position: center;
        background-color: #e6d3c6;
        flex: 0 0 80px;
        height: 80px;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            flex: 0 0 112px;
            min-height: 112px;
            height: auto;
        }
    }

    .teaserText {
        position: relative;
        flex: 1;
        > a {
            color: var(--content-copy);
            display: block;
            overflow: visible;
        }
    }

    .meta {
        position: inherit;
        top: auto;
        left: auto;
        right: auto;
        .update {
            padding: 1px 8px;
            color: var(--card);
            background-color: var(--primary);
            line-height: 2em;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
            text-transform: uppercase;
        }

        .prefix {
            color: var(--primary-active);
        }

        .dot {
            margin: 0 0.25rem;
            color: var(--meta-copy);
        }

        time {
            color: var(--meta-copy);
            white-space: nowrap;
        }
    }

    footer menu {
        float: none;
    }

    .favorite .ico {
        margin: inherit;
        top: inherit;
    }

    footer menu > * {
        min-height: inherit;
        line-height: 22px;
    }

    footer {
        min-height: inherit;
    }

    &.isRead:not(:hover):not(:active) {
        opacity: var(--card-visited-opacity);
    }

    &:focus:not(:active),
    &:hover:not(:active) {
        box-shadow: var(--card-box-shadow);
        background-color: var(--card-hover);
        z-index: 1;
    }
    &:active {
        z-index: 1;
        outline: 2px solid var(--card-outline-active);
        background-color: var(--card-active);
    }
}
