@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.horizontalCard4 {
    transition: box-shadow 0.15s linear;
    margin-bottom: 1px;
    justify-content: space-between;
    padding: 0;
    background-color: var(--card);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    }
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);
    position: relative;

    h1 {
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }
        margin: 0;
    }

    .intro {
        margin: 0;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }
        display: block;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            display: none;
        }
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            flex-direction: row;
        }
        &:focus,
        &:hover {
            h1 {
                text-decoration: underline;
            }
        }
    }

    .textContainer {
        margin-bottom: 0;
    }

    .figure.empty img {
        max-width: 100%;
    }
    figure,
    .figure.empty {
        position: relative;
        display: flex;
        margin: 0;
        flex: 0 0 auto;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            flex: 0 0 116px;
        }

        picture {
            position: relative;
            width: 100%;
            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                width: 116px;
                overflow: hidden;
            }
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            left: 0;
            position: relative;
            transform: none;
            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                position: absolute;
                height: 100%;
                left: 50%;
                transform: translate(-50%, 0);
                width: auto;
            }
        }

        figcaption {
            display: none;
        }
    }

    .teaserText {
        position: relative;
        flex: 1;
        padding: 1rem;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            padding: 1rem 1.5rem;
        }

        > a {
            color: var(--content-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
            }
            display: block;
            overflow: visible;
        }
    }

    .meta {
        position: inherit;
        top: auto;
        left: auto;
        right: auto;
        margin: 0 0 8px 0;
        display: flex;
        justify-content: space-between;
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
        font-size: 0.8125rem;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 0.9375rem;
        }

        .breaking {
            font-size: 0.8125rem;
            @media screen and (min-width: #{map-deep-get($media, 'sizes', 's-min-width')}px) {
                font-size: 0.875rem;
            }
            padding: 2px 8px;
            color: var(--card);
            background-color: var(--link-longread);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'longread',
                        75
                    )};
            }
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
        }

        time {
            color: var(--meta-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 40)};
            }
            white-space: nowrap;
        }
    }

    &.isRead:not(:hover):not(:active) {
        figure {
            filter: grayscale(1) sepia(0.15);
        }
        .meta .prefix,
        .meta time,
        .textContainer h1 {
            color: var(--card-text-visited);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 40)};
            }
        }

        .meta breaking {
            color: var(--card-label-text-visited);
            background-color: var(--card-label-visited);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        40
                    )};
            }
        }

        background-color: var(--card-visited);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
        }
    }

    &:focus:not(:active),
    &:hover:not(:active) {
        box-shadow: var(--card-box-shadow);
        background-color: var(--card-hover);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 80)};
        }
        z-index: 1;
    }
    &:active {
        z-index: 1;
        outline: 2px solid var(--card-outline-active);
        background-color: var(--card-active);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 60)};
        }
    }
}
