@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.hybridCard2 {
    transition: box-shadow 0.15s linear;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    position: relative;
    width: 100%;

    background-color: var(--card);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    }
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);
    font-family: map-deep-get($typography, 'font-family', 'regular'), sans-serif;
    line-height: 1.2em;
    font-size: 1.0625rem;

    > a {
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            padding: 1rem 1rem 0 1rem;
        }
        display: flex;
        flex: 1 1 auto;
        min-height: 100px;
        flex-direction: row;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            flex-direction: column;
        }
        text-decoration: none;
        &:hover h1 {
            text-decoration: underline;
        }
    }

    .teaserText {
        flex: 1 1 auto;
        padding: 12px 8px 8px 12px;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            padding: 0;
        }
        .textContainer {
            flex: 1 1 auto;
        }
    }

    @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
        .readingTime {
            display: none;
        }
    }

    @media screen and (max-width: map-deep-get($media, 'sizes', 'xs')) {
        .footer {
            display: none;
        }
    }

    .meta {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        .prefix {
            font-family: map-deep-get($typography, 'font-family', 'bold'),
                sans-serif;
            font-size: 0.875rem;
            text-transform: uppercase;
            color: var(--primary);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'primary', 75)};
            }
            letter-spacing: 1px;
        }
    }

    &[data-variant='variant-1'] {
        .prefix {
            color: var(--link-longread);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'longread', 75)};
            }
        }
    }

    h1 {
        font-size: 1rem;
        line-height: 20px;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 1.4375rem;
            line-height: 27px;
        }

        margin: 0;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }
        -webkit-font-smoothing: antialiased;
        font-family: map-deep-get($typography, 'font-family', 'bold-serif'),
            serif;
    }

    .intro {
        margin: 0;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }
        line-height: 1.5em;
        font-size: 1.0625rem;
        font-family: map-deep-get($typography, 'font-family', 'regular'),
            sans-serif;
        display: none;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            display: block;
        }
    }

    .footer {
        padding: 0 1rem 1rem 1rem;
    }

    &.isRead:not(:hover):not(:active) {
        .meta .prefix,
        .readingTime,
        .textContainer h1 {
            color: var(--card-text-visited);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 30)};
            }
        }

        background-color: var(--card-visited);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 70)};
        }
    }

    &:focus:not(:active),
    &:hover:not(:active) {
        box-shadow: var(--card-box-shadow);
        background-color: var(--card-hover);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 80)};
        }
        z-index: 1;
    }
    &:active {
        z-index: 1;
        outline: 2px solid var(--card-outline-active);
        background-color: var(--card-active);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 60)};
        }
    }
}
