@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.hybridCard4 {
    transition: box-shadow 0.15s linear;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    height: 100%;
    background: #{map-deep-get($colors, 'colors', 'primary', 75)};
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);

    > a {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        outline-offset: 0;
        min-height: 80px;
        text-decoration: none;
        &:hover h1 {
            text-decoration: underline;
        }
        @media screen and (min-width: 640px) {
            justify-content: flex-end;
            flex-direction: column;
        }
    }

    figure,
    .figure.empty {
        position: relative;
        display: flex;
        flex: 0 0 80px;
        overflow: hidden;
        img {
            object-fit: cover;
            display: block;
            position: absolute;
            height: 80px;
            left: 50%;
            transform: translate(-50%, 0);
            width: auto;
            min-height: auto;
        }
        figcaption {
            display: none;
        }
        @media screen and (min-width: 640px) {
            min-height: 26.25rem;
            width: 100%;
            height: 100%;
            flex: 0 0 auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            img {
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }
    }

    .figure.empty {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            @media screen and (min-width: 641px) {
                width: calc(100% - 2rem);
            }
            height: auto;
        }
    }

    .prefix {
        justify-content: space-between;
        font-family: 'ProximaNovaBold', sans-serif;
        line-height: 1.2em;
        font-size: 0.8125rem;
        text-transform: uppercase;
        color: #{map-deep-get($colors, 'colors', 'primary', 75)};
        background: #{map-deep-get($colors, 'colors', 'neutral', 90)};
        letter-spacing: 1px;
        @media screen and (min-width: 640px) {
            font-size: 0.9375rem;
        }
    }

    .teaserText {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        @media screen and (min-width: 640px) {
            position: absolute;
        }
    }

    h1 {
        color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
        line-height: 120%;
    }

    &:focus:not(:active),
    &:hover:not(:active) {
        box-shadow: var(--card-box-shadow);
        z-index: 1;
    }
    &:active {
        z-index: 1;
        outline: 2px solid var(--card-outline-active);
    }
}
