@use '../../utils/map-deep-get.scss' as *;
@use '../../design-tokens/colors.scss' as *;
@use '../../design-tokens/media.scss' as *;
@use '../../design-tokens/typography.scss' as *;

.verticalCard6 {
    transition: box-shadow 0.15s linear;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    height: 100%;
    background: #{map-deep-get($colors, 'colors', 'primary', 75)};
    box-shadow: 0 1px 0.2px rgba(0, 0, 0, 0.1);
    > a {
        color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        outline-offset: 0;
        @media screen and (min-width: 768px) {
            aspect-ratio: 1/1;
        }
        &:hover h1 {
            text-decoration: underline;
        }
    }

    figure,
    .figure.empty {
        min-height: 26.25rem;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        @media screen and (min-width: 768px) {
            img {
                position: absolute;
                height: 100%;
            }
        }
        figcaption {
            display: none;
        }
    }

    .figure.empty img {
        object-fit: none;
    }

    .teaserText {
        position: absolute;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        bottom: 0;
    }

    &:focus:not(:active),
    &:hover:not(:active) {
        box-shadow: var(--card-box-shadow);
        z-index: 1;
    }
    &:active {
        z-index: 1;
        outline: 2px solid var(--card-outline-active);
    }
}
