@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/colors.scss';

.table {
    &,
    td {
        border: 1px solid var(--dividers);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            border: 1px solid #{map-deep-get($colors, 'colors', 'neutrals', 30)};
        }
        border-collapse: collapse;
        padding: 0.5rem 1rem;
        vertical-align: top;
    }

    thead {
        font-weight: bold;
    }

    a {
        color: var(--primary);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'primary', 75)};
        }
    }
}

.verticalCard1,
.verticalCard2 {
    @media screen and (min-width: map-deep-get($media, 'sizes', 'm')) {
        max-width: 300px;
    }
}

.verticalCard3 {
    margin-bottom: 1rem;
}

.hybridCard1,
.hybridCard2 {
    @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
        max-width: 300px;
        margin: 0 1rem 1rem 0;
    }
}
.hybridCard1Preview {
    flex-direction: column;
    @media screen and (max-width: map-deep-get($media, 'sizes', 'xs')) {
        > *:not(:last-child) {
            border-bottom: 1px solid var(--dividers);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                border-bottom: 1px solid #{map-deep-get(
                        $colors,
                        'colors',
                        'neutrals',
                        30
                    )};
            }
        }
    }
    @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
        > *:not(:last-child) {
            border: none;
        }
        flex-direction: row !important;
        flex-wrap: wrap;
    }
}
