@import '../utils/map-deep-get.scss';
@import '../design-tokens/colors.scss';
@import '../design-tokens/media.scss';

.overview,
.article {
    display: flex;
    flex-direction: row;
    aside {
        display: flex;
        flex: 0 1 auto;
        min-height: 100vh;
    }
    main {
        overflow: hidden;
        display: flex;
        flex: 1 1 auto;
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            flex: 1 1 100%;
        }

        flex-direction: column;
        min-height: 100vh;
        padding: 0 0.5rem;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            padding: 0 1rem;
        }
    }
}

.article {
    background-color: var(--product-background-2);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    }
}

.menu {
    position: sticky;
    top: 0;
    min-width: 320px;
    display: inline-block;

    .search {
        display: flex;
        input {
            height: 32px;
            box-sizing: border-box;
            transition: all 0.15s linear;

            @media screen and (max-width: map-deep-get($media, 'sizes', 'xs')) {
                &:not(:focus) {
                    width: 0;
                    padding: 0;
                    margin: 0;
                    border: 0;
                }
            }

            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                width: 100px;
            }

            &:focus {
                width: 200px;
            }
        }
        button {
            box-sizing: border-box;
            height: 32px;
            background-color: transparent;
            border: none;
        }
        svg {
            width: 1rem;
            height: 1rem;
            fill: var(--content-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
            }
        }
    }

    .logo {
        padding: 0.5rem 1rem;
        display: flex;
        svg {
            width: 32px;
            height: 32px;
        }
    }

    .invertable {
        filter: var(--filter-invert);
    }

    .github {
        text-align: center;
        img {
            width: 1rem;
        }
    }

    .customButton {
        margin-left: 0.5rem;
    }
}
