@import '../utils/map-deep-get.scss';
@import '../design-tokens/colors.scss';

.overview,
.article {
    display: flex;
    flex-direction: row;
    aside {
        display: flex;
        flex: 0 1 auto;
        min-height: 100vh;
        margin-right: 1rem;
    }
    main {
        display: flex;
        flex: 1 1 auto;
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            flex: 1 1 100%;
        }

        flex-direction: column;
        min-height: 100vh;
    }
}

.article {
    background-color: var(--product-background-2);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutrals', 90)};
    }
}
