@import '../utils/map-deep-get.scss';
@import '../design-tokens/colors.scss';
@import '../design-tokens/typography.scss';

html {
    overflow-x: hidden;
}

html,
html.dark,
html.light {
    transition: background-color 0.2s linear, color 0.2s linear;
    color: var(--content-copy);
    background-color: var(--product-background);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 80)};
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: map-deep-get($typography, 'font-family', 'regular'), sans-serif;
}
