@import '../utils/map-deep-get.scss';
@import '../design-tokens/colors.scss';
@import '../design-tokens/media.scss';

.overview,
.article {
    display: flex;
    flex-direction: row;
    aside {
        display: flex;
        flex: 0 1 auto;
        min-height: 100vh;
    }
    main {
        display: flex;
        flex: 1 1 auto;
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            flex: 1 1 100%;
        }

        flex-direction: column;
        min-height: 100vh;
        padding: 0 1rem;
        max-width: 100%;
        box-sizing: border-box;
    }
}

.article {
    background-color: var(--product-background-2);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
    }
}

.menu {
    position: sticky;
    top: 0;
    width: 100%;
    min-width: 320px;
    display: inline-block;

    .search {
        display: flex;
        input {
            border: none;
            border-radius: 0;
            height: 32px;
            box-sizing: border-box;
            transition: all 0.15s linear;
            color: var(--input-color);
            background-color: var(--input-background);
            border-bottom: 2px solid var(--input-underline);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        100
                    )};
                border-bottom: 2px solid #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        50
                    )};
            }
            &::placeholder {
                color: var(--input-placeholder);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    color: #{map-deep-get($colors, 'colors', 'neutral', 60)};
                }
            }
            &:hover {
                border-color: var(--input-underline-hover);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    border-color: #{map-deep-get(
                            $colors,
                            'colors',
                            'neutral',
                            40
                        )};
                }
            }
            &:focus {
                border: none;
                caret-color: var(--input-caret);
                border-bottom: 2px solid var(--input-underline-focus);
                // IE11
                @media screen and (-ms-high-contrast: active),
                    (-ms-high-contrast: none) {
                    caret-color: #{map-deep-get(
                            $colors,
                            'colors',
                            'primary',
                            75
                        )};
                    border-bottom: 2px solid #{map-deep-get(
                            $colors,
                            'colors',
                            'primary',
                            75
                        )};
                }
            }

            @media screen and (max-width: map-deep-get($media, 'sizes', 'xs')) {
                &:not(:focus) {
                    width: 0;
                    padding: 0;
                    margin: 0;
                    border: 0;
                }
            }

            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                width: 100px;
            }

            &:focus {
                width: 200px;
            }
        }
        button {
            box-sizing: border-box;
            height: 32px;
            background-color: transparent;
            border: none;
        }
        svg {
            width: 1rem;
            height: 1rem;
            fill: var(--content-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
            }
        }
    }

    .logo {
        padding: 0.5rem 1rem;
        display: flex;
        svg {
            width: 59px;
            height: 39px;
        }
    }

    .invertable {
        img {
            filter: var(--filter-invert);
        }
    }

    .themes {
        padding: 0 1rem;
    }

    .github {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        figure {
            margin: 0;
        }
        figcaption {
            color: var(--content-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
            }
        }
        img {
            width: 1rem;
        }
    }

    .customButton {
        margin-left: 0.5rem;
        @media screen and (max-width: map-deep-get($media, 'sizes', 'xs')) {
            display: none;
        }
    }
    &#{&} {
        .showForMobile {
            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                display: none;
            }
        }
    }
}
