.cookieConsent {
    .header {
        display: flex;
        justify-content: center;
        .icon {
            svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}
