.cookieConsent {
    .header {
        display: flex;
        justify-content: center;
        .icon {
            svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

    :global(.embed-container) {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        max-width: 100%;
        width: 100%;
        height: auto;

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    :global(.instagram-media),
    twitterwidget {
        width: 100% !important;
        margin: 20px 0 22px 0 !important;
    }
}
