@import '../utils/map-deep-get.scss';
@import '../design-tokens/colors.scss';
@import '../design-tokens/media.scss';

.menu {
    display: inline-block;

    .search {
        display: flex;
        input {
            height: 32px;
            box-sizing: border-box;
            transition: all 0.15s linear;

            @media screen and (max-width: map-deep-get($media, 'sizes', 'xs')) {
                &:not(:focus) {
                    width: 0;
                    padding: 0;
                    margin: 0;
                    border: 0;
                }
            }

            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                width: 100px;
            }

            &:focus {
                width: 200px;
            }
        }
        button {
            box-sizing: border-box;
            height: 32px;
        }
        svg {
            width: 1rem;
            height: 1rem;
            fill: var(--content-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
            }
        }
    }
}
