@use '../../utils/map-deep-get.scss' as *;
@use '../../design-tokens/colors.scss' as *;
@use '../../design-tokens/media.scss' as *;
@use '../../design-tokens/typography.scss' as *;

.fd-modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: grayscale(1);
    cursor: pointer;
    user-select: none;
}

.fd-modal {
    background-color: var(--product-background-2);
    padding: 0;
    border: 0;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100%;
    width: 100%;
    @media screen and (min-width: map-deep-get($media, 'sizes', 'm')) {
        max-width: 560px;
        max-height: 90vh;
    }

    .title-bar {
        background-color: var(--product-background-2);
        border-bottom: 1px solid var(--neutral-60, var(--dividers));
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--content-copy);

        .close-icon {
            display: flex;
            background-color: transparent;
            border: none;
            svg {
                cursor: pointer;
                width: 24px;
                height: 24px;
                path {
                    fill: var(--content-copy);
                }
                &:hover {
                    path {
                        fill: var(--link-hover);
                    }
                }
            }
        }
    }

    .content {
        box-sizing: border-box;
        overflow-y: auto;
        overscroll-behavior: contain;
        color: var(--content-copy);
        width: 100%;

        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            -webkit-border-radius: 0.25rem;
            border-radius: 0.25rem;
            background: var(--dividers);
        }

        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0.25rem;
            border-radius: 0.25rem;
            background: var(--meta-copy);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--functional-copy);
        }

        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.fd-modal[open] {
    display: flex;
    flex-direction: column;
    animation: fadeDialogIn 0.15s linear forwards;
    &::backdrop {
        animation: fadeDialogBackdropIn 0.15s linear forwards;
    }
}

.fd-modal[open].closing {
    animation: fadeDialogOut 0.15s linear forwards;
    &::backdrop {
        animation: fadeDialogBackdropOut 0.15s linear forwards;
    }
}

@keyframes fadeDialogIn {
    0% {
        opacity: 0.2;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeDialogOut {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}

@keyframes fadeDialogBackdropIn {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeDialogBackdropOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
