@use '../../../src/utils/map-deep-get.scss' as *;
@use '../../../src/design-tokens/colors.scss' as *;
@use '../../../src/design-tokens/media.scss' as *;
@use '../../../src/design-tokens/typography.scss' as *;

.article {
    max-width: 1248px;
    margin: 0 0.5rem;
    color: var(--content-copy);
    align-self: center;
    @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
        margin: 0 1rem;
    }

    header {
        margin-bottom: 40px;

        > h1 {
            line-height: 1.08em;
            font-size: 1.5625rem;
            margin: 1rem 0;
            font-family:
                map-deep-get($typography, 'font-family', 'bold-serif'), serif;
            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                font-size: 2.8125rem;
            }
            @media screen and (min-width: map-deep-get($media, 'sizes', 'l')) {
                font-size: 3.25rem;
                max-width: 88%;
            }
        }
    }

    > h2 {
        font-family:
            map-deep-get($typography, 'font-family', 'bold-serif'), serif;
        font-size: 1.375rem;
        line-height: 1.432;
        margin-top: 2rem;
        margin-bottom: 0.5rem;

        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            margin-top: 2.25rem;
            margin-bottom: 0;
        }
    }

    > h3 {
        line-height: 1.15;
        font-family: map-deep-get($typography, 'font-family', 'regular-serif');
        font-weight: normal;
        font-size: 1.5625rem;
        margin-top: 24px;
        margin-bottom: 7px;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 1.875rem;
            margin-top: 27px;
            margin-bottom: 13px;
        }
        @media screen and (min-width: map-deep-get($media, 'sizes', 'l')) {
            font-size: 2.8125rem;
            margin-top: 80px;
            margin-bottom: 20px;
        }
    }

    .intro {
        font-size: 1.375rem;
        font-family:
            map-deep-get($typography, 'font-family', 'regular-serif'), serif;
        line-height: 1.2;
        margin: 0;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 1.5625rem;
        }
        @media screen and (min-width: map-deep-get($media, 'sizes', 'm')) {
            font-size: 1.75rem;
            width: 84%;
        }
    }

    > p {
        margin: 0 0 0.5rem 0;
        line-height: 1.5;
        font-size: 1.125rem;
        font-family:
            map-deep-get($typography, 'font-family', 'regular-serif'), serif;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 1.1875rem;
        }
        @media screen and (min-width: map-deep-get($media, 'sizes', 'l')) {
            font-size: 1.3125rem;
        }

        > a {
            text-decoration: none;
            color: var(--primary);
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .sticky {
        position: sticky;
        top: 80px;
    }

    .left {
        float: left;
    }
    .right {
        float: right;
    }

    .fullHeight {
        height: 100%;
    }
}
