@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.fdLinkBlock {
    margin: 40px 0;
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);
    position: relative;
    clear: both;
    text-decoration: none;
    padding: 1rem 40px 1rem 1rem;
    display: block;
    width: auto;
    color: var(--primary);
    background-color: var(--card-2);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background-color: #{map-deep-get($colors, 'colors', 'neutrals', 80)};
        color: #{map-deep-get($colors, 'colors', 'primary', 75)};
    }

    &.right {
        margin: 40px auto;
        box-sizing: border-box;
        @media only screen and (min-width: 641px) {
            float: right;
            margin: 40px 0 40px 60px;
            width: 50%;
        }
    }

    p {
        margin: 0;
        margin-bottom: 0.5rem;
        padding: 0;
        color: var(--primary);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'primary', 75)};
        }

        font-weight: normal;
        font-size: 1rem;
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
        line-height: 1.1em;
        @media only screen and (min-width: 641px) {
            font-size: 1.125rem;
        }
    }
    h2 {
        margin: 0;
        padding: 0;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutrals', 10)};
        }

        font-weight: normal;
        font-size: 1.0625rem;
        font-family: map-deep-get($typography, 'font-family', 'regular'),
            sans-serif;
        line-height: 1.2em;
    }

    .icon {
        position: absolute;
        right: 0.5rem;
        margin: 0;
        top: calc(50% - 12px);
        svg {
            fill: var(--meta-copy);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                fill: #{map-deep-get($colors, 'colors', 'neutrals', 40)};
            }
            height: 23px;
            width: 23px;
        }
    }

    &[data-variant='variant-1'] {
        p {
            color: var(--link-longread);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                color: #{map-deep-get($colors, 'colors', 'longread', 50)};
            }
        }
    }
}
