@import '../utils/map-deep-get.scss';
@import '../design-tokens/colors.scss';
@import '../design-tokens/media.scss';

.title {
    margin: 2rem 0 1rem 0;
    color: var(--content-copy);
}

.anchor {
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg {
        width: 1rem;
        height: 1rem;
        fill: var(--content-copy);
    }
}

.previewContainer {
    border: 5px solid var(--dividers);
    box-sizing: border-box;
    padding: 1rem;
    min-height: 45vh;
    &.row {
        flex-direction: row;
    }
}

.description {
    color: var(--content-copy);
    margin-bottom: 1rem;
    a {
        color: var(--link);
        &:hover {
            color: var(--link-hover);
        }
    }
    p {
        margin: 0;
    }
}

.invertable {
    filter: var(--filter-invert);
}

.codeToggle {
    cursor: pointer;
    color: var(--content-copy);
}

.codeContainer {
    color: var(--content-copy);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-bottom: 1rem;
    @media screen and (min-width: map-deep-get($media, 'sizes', 'm')) {
        flex-direction: row;
    }
    > section {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        textarea {
            flex: 1 1 auto;
            min-height: 150px;
        }
    }

    &.hideCode {
        display: none;
    }
}

.copyIcon {
    cursor: pointer;
    color: var(--content-copy);
}

.copyIconLabel {
    color: var(--content-copy);
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    form {
        margin: 0 0.5rem;
    }
}

.tags {
    display: flex;
    font-size: 0.8rem;
    flex-wrap: wrap;

    a,
    span {
        padding: 0.5rem 0;
        margin-right: 0.5rem;
        color: var(--content-copy);
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.textArea {
    color: var(--content-copy);
    background-color: var(--content-background);
    box-sizing: border-box;
}
