@import '../utils/map-deep-get.scss';
@import '../design-tokens/colors.scss';

.themeControls {
    color: var(--content-copy);
    flex-shrink: 0; // Safari fix
    flex-basis: auto; // Safari fix
    display: flex;
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        display: none;
    }

    flex-direction: row;
    label {
        cursor: pointer;
        user-select: none;
    }
}
