@use '../utils/map-deep-get.scss' as *;
@use '../design-tokens/colors.scss' as *;
@use '../design-tokens/media.scss' as *;

.tooltip {
    display: none;
    z-index: 999;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 20vw;
    border: 5px solid var(--dividers);
    background-color: var(--card);
    @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
        display: flex;
    }

    h3,
    p {
        margin: 0;
    }

    h3 {
        font-size: 0.8rem;
    }
    p {
        font-size: 0.8rem;
    }

    fieldset {
        border: 1px solid var(--dividers);
    }
    legend {
        color: var(--writer);
    }
}
