@import '../../src/utils/map-deep-get.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/colors.scss';

.table {
    &,
    td {
        border: 1px solid var(--dividers);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            border: 1px solid #{map-deep-get($colors, 'colors', 'neutral', 30)};
        }
        border-collapse: collapse;
        padding: 0.5rem 1rem;
        vertical-align: top;
    }

    thead {
        font-weight: bold;
    }

    a {
        color: var(--primary);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'primary', 75)};
        }
    }
}

.horizontalGrid {
    row-gap: 1px;
}
.hybrid1Grid {
    @media screen and (max-width: 640px - 0.02px) {
        row-gap: 1px;
    }
}
.hybrid2Grid {
    @media screen and (max-width: 768px - 0.02px) {
        row-gap: 1px;
    }
}
