@import '../../src/utils/map-deep-get.scss';
@import '../../src/design-tokens/media.scss';
@import '../../src/design-tokens/colors.scss';

.table {
    &,
    td {
        border: 1px solid var(--dividers);
        border-collapse: collapse;
        padding: 0.5rem 1rem;
        vertical-align: top;
    }

    thead {
        font-weight: bold;
    }

    a {
        color: var(--primary);
    }
}

.horizontalGrid {
    row-gap: 1px;
}
.autoMinHeight {
    min-height: auto;
}
.hybrid1Grid {
    @media screen and (max-width: (640px - 0.02px)) {
        row-gap: 1px;
    }
}
.hybrid2Grid {
    @media screen and (max-width: (768px - 0.02px)) {
        row-gap: 1px;
    }
}
