@import '../src/utils/map-deep-get.scss';
@import '../src/design-tokens/colors.scss';
@import '../src/design-tokens/typography.scss';

html.dark {
    .markdown {
        img[alt='FD Design System'] {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 80)};
        }
    }
}
html:not(.light),
html.system {
    @media (prefers-color-scheme: dark) {
        .markdown {
            img[alt='FD Design System'] {
                background-color: #{map-deep-get(
                        $colors,
                        'colors',
                        'neutral',
                        80
                    )};
            }
        }
    }
}

.markdown {
    color: var(--content-copy);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2rem 0 1rem 0;
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
    }

    h1,
    h2 {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--dividers);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            border-bottom: 1px solid #{map-deep-get(
                    $colors,
                    'colors',
                    'neutral',
                    60
                )};
        }
    }

    a {
        color: var(--link);
        &:hover {
            color: var(--link-hover);
        }
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'primary', 75)};
            &:hover {
                color: #{map-deep-get($colors, 'colors', 'primary', 50)};
            }
        }
    }

    img[alt='FD Design System'] {
        padding: 37px 1rem;
        border-radius: 15px;
    }

    pre,
    code {
        padding: 0.2rem 0.3rem;
        background-color: var(--card);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
        }
    }
    pre {
        padding: 1rem;
        overflow: auto;
        max-width: 100%;

        border: 1px solid var(--dividers);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            border: 1px solid #{map-deep-get($colors, 'colors', 'neutral', 60)};
        }

        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            -webkit-border-radius: 0.25rem;
            border-radius: 0.25rem;
            background: var(--dividers);
            // IE11
            @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                background: #{map-deep-get($colors, 'colors', 'neutral', 50)};
            }
        }

        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0.25rem;
            border-radius: 0.25rem;
            background: var(--meta-copy);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--functional-copy);
        }

        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    code {
        display: inline-block;
    }

    details {
        margin-bottom: 1rem;
    }

    summary {
        cursor: pointer;
        user-select: none;
    }

    hr {
        height: 0.25rem;
        background-color: var(--dividers);
        border: none;
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 60)};
        }
    }
}
