@use '../src/utils/map-deep-get.scss' as *;
@use '../src/design-tokens/colors.scss' as *;
@use '../src/design-tokens/typography.scss' as *;

html {
    overflow-x: hidden;
}

html,
html.dark,
html.light {
    transition:
        background-color 0.2s linear,
        color 0.2s linear;
    color: var(--content-copy);
    background-color: var(--product-background);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family:
        map-deep-get($typography, 'font-family', 'regular'), sans-serif;
}

@supports (-webkit-touch-callout: none) {
    body {
        padding: env(safe-area-inset-top) env(safe-area-inset-right)
            env(safe-area-inset-bottom) env(safe-area-inset-left); // Safari notch fix
    }
}

.github {
    figure {
        text-align: center;
    }
    img {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}

.invertable {
    filter: var(--filter-invert);
}
