@import '../src/utils/map-deep-get.scss';
@import '../src/design-tokens/colors.scss';
@import '../src/design-tokens/media.scss';

.ab {
    display: flex;
    flex-direction: column;
    color: var(--content-copy);
    padding-right: 1rem;

    a {
        color: var(--link);
        &:hover {
            color: var(--link-hover);
        }
    }
    :global(.css-variant-1) {
        color: red;
    }
    :global(.css-variant-2) {
        color: green;
    }
    :global(.css-variant-3) {
        color: blue;
    }
    :global(.css-variant-4) {
        color: orange;
    }

    textarea {
        flex: 1 1 auto;
        height: 300px;
        color: var(--content-copy);
        background-color: var(--content-background);
    }
}
