@import '../src/utils/map-deep-get.scss';
@import '../src/design-tokens/media.scss';
@import '../src/design-tokens/colors.scss';

.table {
    &,
    td {
        border: 1px solid var(--dividers);
        border-collapse: collapse;
        padding: 0.5rem 1rem;
        vertical-align: top;
    }

    thead {
        font-weight: bold;
    }

    a {
        color: var(--primary);
    }
}

.verticalCard1 {
    @media screen and (min-width: map-deep-get($media, 'sizes', 'm')) {
        max-width: 300px;
    }
}

.hybridCard1,
.hybridCard2 {
    @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
        max-width: 300px;
        margin: 0 1rem 1rem 0;
    }
}
.hybridCard1Preview {
    flex-direction: column;
    > *:not(:last-child) {
        border-bottom: 1px solid var(--dividers);
    }
    @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
        > *:not(:last-child) {
            border: none;
        }
        flex-direction: row !important;
        flex-wrap: wrap;
    }
}
