@import '../src/utils/map-deep-get.scss';
@import '../src/design-tokens/colors.scss';
@import '../src/design-tokens/typography.scss';
@import '../src/design-tokens/media.scss';

.tokens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1,
    h2,
    legend,
    small,
    label {
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
        }
    }
    h1 {
        margin: 2rem 0 1rem 0;
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
        flex: 1 1 100%;
    }
    small {
        flex-basis: 100%;
    }
    fieldset {
        box-sizing: border-box;
        flex: 0 1 calc(100% - 0.5rem);
        @media screen and (min-width: map-deep-get($media, 'sizes', 'l')) {
            flex: 0 1 calc(50% - 0.5rem);
        }

        border: 1px solid var(--dividers);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            border-color: #{map-deep-get($colors, 'colors', 'neutral', 50)};
        }
    }
    textarea {
        width: 100%;
        box-sizing: border-box;
        height: 200px;
        color: var(--content-copy);
        background-color: var(--content-background);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 90)};
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
        }
    }

    .fontsContainer,
    .groupContainer {
        margin: 1rem 0;
    }

    .groupContainer {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .fontsContainer {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        .group {
            flex-basis: 100%;
        }
    }

    .group {
        display: flex;
        flex-direction: column;
    }

    .colorTile {
        height: 1rem;
        width: 1rem;
        margin-right: 1rem;
        display: inline-block;
    }

    input {
        border: none;
        outline: none;
        color: var(--content-copy);
        background-color: var(--product-background);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, 'colors', 'neutral', 10)};
            background-color: #{map-deep-get($colors, 'colors', 'neutral', 80)};
        }
    }

    .icon {
        display: inline-block;
        padding: 0.5rem;
        svg {
            height: 1rem;
            width: 1rem;
        }
    }
}
