@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';

.fd-footer {
    overflow: hidden; // IE11
    margin-top: 48px;
    @media screen and (min-width: 1280px) {
        margin-top: 64px;
    }
    background-color: var(--navigation-background);
    ul {
        box-sizing: border-box;
        margin: 0 auto;
        list-style: none;
        @media screen and (min-width: 768px) {
            max-width: 768px;
        }
        @media screen and (min-width: 1024px) {
            max-width: 1024px;
        }
        @media screen and (min-width: 1280px) {
            max-width: 1280px;
        }

        @media screen and (max-width: 1280px - 0.02px) {
            li {
                border-bottom: 1px solid var(--dividers);
            }
        }

        button {
            width: 100%;
            padding: 0;
            border: none;
            color: var(--meta-copy);
            background-color: transparent;
            @media screen and (max-width: 1280px - 0.02px) {
                cursor: pointer;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: underline;
                    color: var(--primary);

                    svg path {
                        fill: var(--primary);
                    }
                }
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .collapse,
    .expand {
        display: flex;
    }

    [aria-expanded='false'] {
        .collapse {
            display: none;
        }
    }
    [aria-expanded='true'] {
        .expand {
            display: none;
        }
    }
    @media screen and (min-width: 1280px) {
        [aria-expanded] {
            user-select: none;
            .icon {
                display: none;
            }
        }
    }

    @media screen and (max-width: 1280px - 0.02px) {
        [hidden] {
            display: none;
        }
    }
    @media screen and (min-width: 1280px) {
        [hidden] {
            display: block;
        }
    }

    a {
        text-decoration: none;
        color: var(--meta-copy);
        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
            color: var(--primary);
        }
    }

    .social {
        display: flex;
        justify-content: center;

        @media screen and (min-width: 1280px) {
            border-top: 1px solid var(--dividers);
        }
        a:hover,
        a:active,
        a:focus {
            svg path {
                fill: var(--primary);
            }
        }
    }

    .icon {
        display: flex;
        svg {
            width: 24px;
            height: 24px;
            path {
                fill: var(--meta-copy);
            }
        }
    }
}

.fd-copyright-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    a {
        display: flex;
        &:hover,
        &:active,
        &:focus {
            color: var(--primary);
        }
    }
    img {
        margin-right: 0.5rem;
        width: 25px;
        height: 25px;
    }
}

.fd-dark-mode-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    clear: both;

    label {
        color: var(--writer);
    }

    button {
        padding: 1px 6px;
        cursor: pointer;
        color: var(--writer);
        background-color: transparent;
        border: none;
        &.active {
            cursor: default;
            text-decoration: underline;
        }
        &:hover {
            text-decoration: underline;
            &:not(.active) {
                color: var(--primary);
            }
        }
    }

    span {
        color: var(--writer);
    }
}
