@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.fdCookieConsent {
    // Increase specificity
    &#{&} {
        .contentBoxAdjust {
            background-color: var(--product-background-2);
        }
    }

    .settings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .button {
            margin-bottom: 0.5rem;
            @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
                margin-right: 0.5rem;
            }
        }
    }
}
