@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.fdLockedContent {
    user-select: none;
    .blockedContentContainer {
        margin: 1rem 0;
        width: 560px;
        max-width: 100%;

        background-color: var(--card-2);
        box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);
        height: auto;

        .lockText {
            color: var(--content-copy);
            font-family: 'ProximaNovaRegular', 'Helvetica', sans-serif;
        }

        &:hover {
            .lockText {
                color: var(--primary);
            }
            .lock {
                opacity: 1;
            }
        }

        .lockText {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            padding: 1rem;
            font-size: 1rem;
            @media only screen and (min-width: 641px) {
                font-size: 17px;
            }
            font-family: 'ProximaNovaRegular', sans-serif;
            line-height: 1.2em;
            box-sizing: border-box;
            z-index: 1;
            color: var(--content-copy);
        }
        .lock {
            margin-right: 1rem;
            opacity: 0.2;
            transition: opacity 0.2s ease-in;
            color: var(--credits);
            font-size: 2rem;
            svg {
                width: 2.5rem;
                height: 2.5rem;
                fill: var(--content-copy);
            }
        }
    }
}
