@import "../../utils/map-deep-get.scss";
@import "../../design-tokens/colors.scss";
@import "../../design-tokens/media.scss";
@import "../../design-tokens/typography.scss";

.textFrame {
    margin: 2.5rem 0;
    border-bottom: 1px solid var(--dividers);
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        border-bottom: 1px solid #{map-deep-get(
                $colors,
                "colors",
                "neutrals",
                50
            )};
    }

    h3 {
        font-size: 1.25rem;
        line-height: 1;
        font-family: map-deep-get($typography, "font-family", "bold"),
            sans-serif;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, "colors", "neutrals", 10)};
        }
        margin-bottom: 1rem;
        position: relative;
        background: linear-gradient(var(--dividers), var(--dividers)) 0 0/100%
                1px no-repeat,
            linear-gradient(var(--dividers), var(--dividers)) 0 4px/100% 1px
                no-repeat,
            linear-gradient(var(--dividers), var(--dividers)) 0 8px/100% 1px
                no-repeat;
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background: linear-gradient(
                        #{map-deep-get($colors, "colors", "neutrals", 50)},
                        #{map-deep-get($colors, "colors", "neutrals", 50)}
                    )
                    0 0/100% 1px no-repeat,
                linear-gradient(
                        #{map-deep-get($colors, "colors", "neutrals", 50)},
                        #{map-deep-get($colors, "colors", "neutrals", 50)}
                    )
                    0 4px/100% 1px no-repeat,
                linear-gradient(
                        #{map-deep-get($colors, "colors", "neutrals", 50)},
                        #{map-deep-get($colors, "colors", "neutrals", 50)}
                    )
                    0 8px/100% 1px no-repeat;
        }

        padding: 22px 0 15px 0;
        border-bottom: 1px solid var(--dividers);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            border-bottom: 1px solid #{map-deep-get(
                    $colors,
                    "colors",
                    "neutrals",
                    50
                )};
        }
        margin-top: initial;
    }

    figure {
        margin: 0 0 20px 0;
        img {
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: var(--primary);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, "colors", "primary", 75)};
        }
    }

    p {
        font-family: map-deep-get($typography, "font-family", "regular"),
            sans-serif;
        font-size: 1.0625rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        color: var(--content-copy);
        // IE11
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            color: #{map-deep-get($colors, "colors", "neutrals", 10)};
        }
    }

    @media screen and (min-width: map-deep-get($media, "sizes", "s")) {
        &.right {
            float: right;
            margin: 40px 0 40px 60px;
            width: 50%;
        }
    }
}
