@use '../../utils/map-deep-get.scss' as *;
@use '../../design-tokens/colors.scss' as *;
@use '../../design-tokens/media.scss' as *;
@use '../../design-tokens/typography.scss' as *;

.textFrame {
    margin: 2.5rem 0;
    border-bottom: 1px solid var(--dividers);
    h3 {
        color: var(--content-copy);
        margin-bottom: 1rem;
        position: relative;
        background:
            linear-gradient(var(--dividers), var(--dividers)) 0 0/100% 1px
                no-repeat,
            linear-gradient(var(--dividers), var(--dividers)) 0 4px/100% 1px
                no-repeat,
            linear-gradient(var(--dividers), var(--dividers)) 0 8px/100% 1px
                no-repeat;

        padding: 22px 0 15px 0;
        border-bottom: 1px solid var(--dividers);
        margin-top: initial;
    }

    figure {
        margin: 0 0 20px 0;
        img {
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: var(--primary);
    }

    p {
        font-family:
            map-deep-get($typography, 'font-family', 'regular'), sans-serif;
        font-size: 1.0625rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        color: var(--content-copy);
    }

    @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
        &.right {
            float: right;
            margin: 40px 0 40px 60px;
            width: 50%;
        }
    }
}
