@import '../../utils/map-deep-get.scss';
@import '../../design-tokens/colors.scss';
@import '../../design-tokens/media.scss';
@import '../../design-tokens/typography.scss';

.fdAccordion {
    margin: 1rem 0;
    font-family: map-deep-get($typography, 'font-family', 'regular'), sans-serif;
    font-size: 1.0625rem;
    line-height: 1.529;
    @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
        font-size: 1.1875rem;
        line-height: 1.474;
    }
    @media screen and (min-width: map-deep-get($media, 'sizes', 'l')) {
        font-size: 1.3125rem;
        line-height: 1.429;
    }

    color: var(--content-copy);
    background-color: var(--card-2);
    box-shadow: 0 2px 0.2px rgba(0, 0, 0, 0.1);
    section {
        padding: 1rem;
        display: flex;
    }

    section:not(:last-child) {
        border-bottom: 1px solid var(--dividers);
    }

    h2 {
        user-select: none;
        cursor: pointer;
        margin: 0;
        font-weight: normal;
        font-family: map-deep-get($typography, 'font-family', 'regular'),
            sans-serif;

        font-size: 1.0625rem;
        line-height: 1.529;
        @media screen and (min-width: map-deep-get($media, 'sizes', 's')) {
            font-size: 1.1875rem;
            line-height: 1.474;
        }
        @media screen and (min-width: map-deep-get($media, 'sizes', 'l')) {
            font-size: 1.3125rem;
            line-height: 1.429;
        }
    }

    a {
        color: var(--link);
        text-decoration: none;
        &:hover {
            color: var(--link-hover);
            text-decoration: underline;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        &:focus ~ .textContent label h2,
        &:active ~ .textContent label h2 {
            outline: 1px solid var(--dividers);
        }
    }

    .textContent > div {
        display: none;
        box-sizing: border-box;
        * {
            pointer-events: none;
        }
    }
    input:checked ~ .textContent > div {
        display: block;
        * {
            pointer-events: all;
        }
    }

    input:checked ~ .textContent label h2 {
        font-family: map-deep-get($typography, 'font-family', 'bold'),
            sans-serif;
    }

    .icon {
        display: flex;
        margin-top: 3px;
        user-select: none;
        cursor: pointer;
        margin-right: 1rem;
        svg {
            fill: var(--primary) !important;
            * {
                fill: var(--primary) !important;
            }
        }
    }

    .minimise {
        display: none;
    }
    input:checked ~ .icon {
        &.minimise {
            display: flex;
        }
        &.expand {
            display: none;
        }
    }

    input:hover,
    input:active {
        & ~ .icon svg {
            fill: var(--primary-active) !important;
            * {
                fill: var(--primary-active) !important;
            }
        }
    }
}
