name: Build

on: [push, pull_request]

env:
  CI: true
  
jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 15.x]
        experimental: [false]
        include:
        - node: 16.x
          experimental: true
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js (NPMJS) ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: 'https://registry.npmjs.org'
    - name: Install node-gyp
      run: sudo npm i -g node-gyp
    - name: Install dependencies
      run: npm ci --no-optional
    - name: Test
      run: npm test
    - name: Build
      run: npm run build:ci
    - name: Code coverage reporting
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./js-coverage/lcov.info