/*
Using data uri's for BOLD and icon fonts, these are used for titles and should not progressively switch font family,
this would be too noticable and icons don't have a fallback font.
Using WOFF files for plain texts, the font switch is not so noticable.
*/
@font-face {
    font-family: ArnhemProBold;
    src: url(./arnhempro-bold.woff2) format('woff2'),
        url(./arnhempro-bold.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: ArnhemProBlond;
    src: url(./arnhempro-blond.woff2) format('woff2'),
        url(./arnhempro-blond.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaRegular;
    src: url(./proxima-nova-regular.woff2) format('woff2'),
        url(./proxima-nova-regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaThin;
    src: url(./proxima-nova-thin.woff2) format('woff2'),
        url(./proxima-nova-thin.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaBold;
    src: url(./proxima-nova-bold.woff2) format('woff2'),
        url(./proxima-nova-bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
